html,body{
    height: 100%;
    background-color: black;
}

div{
    display: inline;
    clear: none;
}

div#entities{
    display: inline;
    width: 780px;
    height: 100%;
    float: left;
    background-color:black;
    font-family:Lucida Console, monospace
}
div#separator{
    display: inline;
    float:left;
    background-color: #010101;
    color: white;
    width: 22px;
    height: 100%;
    word-break: break-all;
    font-family:Lucida Console, monospace;
}
div#infoBox{
    display: inline;
    float: left;
    color: white;
    width: auto;
    min-height: 100%;
    right: 0px;
    font-family:Lucida Console, monospace;
    background-color: black;
}
div#playerHP{
    float: left;
}

div#hpBarContainer{
    width: 100px;
    height: 12px;

}

div#hpBarContainer{
    padding-left: 12px;
    width: 100px;
    float: left;
}

div#greenHP{
    background-color: green;
    float: left;
    width: 100%;
    height: 100%;
}

div#redHP{
    background-color: red;
    float: left;
    width: 0%;
    height: 100%;
}

ul#messageLog{
    width: 100%;
    height: 10em;
    overflow:hidden; overflow-y:scroll;


}