html,body{
    height: 100%;
    background-color: black;
}

div{
    display: inline;
    clear: none;
}

div#entities{
    display: inline;
    padding-left: 10%;
    width: 50%;
    height: 100%;
    float: left;
    background-color:black;
    font-family:Lucida Console, monospace;
    z-index: 1;
}
div#separator{
    display: inline;
    float:left;
    background-color: #010101;
    color: white;
    width: 22px;
    height: 100%;
    overflow: hidden;
    word-break: break-all;
    font-family:Lucida Console, monospace;
}
div#infoBox{
    display: inline;
    float: left;
    color: white;
    width: auto;
    min-height: 100%;
    right: 0px;
    font-family:Lucida Console, monospace;
    background-color: black;
    z-index: 1;
}
div#playerHP{
    float: left;
}

div#hpBarContainer{
    width: 100px;
    height: 12px;

}

div#hpBarContainer{
    padding-left: 12px;
    width: 100px;
    float: left;
}

div#greenHP{
    background-color: green;
    float: left;
    width: 100%;
    height: 100%;
}

div#redHP{
    background-color: red;
    float: left;
    width: 0%;
    height: 100%;
}

ul#messageLog{
    width: 100%;
    height: 10em;
    overflow:hidden; overflow-y:scroll;
    z-index: 1;
    padding-top: 5%;



}

#MainInventory {
    color: white;
    width: 480px;
    height: 330px;
    display: block;
    z-index: 2;
    position: absolute;
    top: 28%;
    left: 10%;
    background-color: black;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    display: none;
}

#MainInventory h1 {
    padding-left: 35%;
    padding-top: 3%;
    padding-bottom: 5%;
    display: block;
}

#MainInventory ul.InventoryList {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    display: block;
    padding-left: 25%;
    padding-bottom: 3%;
}

#MainInventory ul.InventoryList li {
    padding-bottom: 25px;
}

#MainInventory ul.InventoryActions {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    display: block;
    padding-left: 13%;
}
#MainInventory ul.InventoryActions li::first-letter {
    color: red;
}

div#lookBox {
    color: white;
    width: 25%;
    height: 15%;
    padding-right: 5%;
    display: block;
    z-index: 2;
    position: absolute;
    top: 40%;
    right: 4%;
    background-color: black;
    display: none;
}

#lookBox h1 {
    font-size: 52px;
    padding-bottom: 10px;
}

#lookBox p {
    font-size: 16px;
}